<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/addCategory"> Add Category</a> -
<a href="/categorylist">List Categories</a> -
<a href="/addCar">Add Car</a> -
<a href="/carlist">List Cars</a>

<form action="#"
      th:action="@{/addCar}"
      th:object="${car}"
      method="post">

    <input type="hidden" th:field="*{id}"/>

    Manufacturer: <input type="text" name="manufacturer" th:field="*{manufacturer}"/><br/>

    Model: <input type="text" name="model" th:field="*{model}"/><br/>

    Year: <input type="text" name="year" th:field="*{year}"/><br/>

    MSRP: <input type="text" name="msrp" th:field="*{msrp}"/><br/>

    Category: <select name="category" th:field="*{category}">
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}"/>
    </select><br/><br/>

    <input type="submit" value="Submit"/>


</form>

</body>
</html>