<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/addCategory"> Add Category</a> -
<a href="/categorylist">List Categories</a> -
<a href="/addCar">Add Car</a> -
<a href="/carlist">List Cars</a>

<h2>Cars List</h2>

<p th:each="car : ${cars}">
    <span th:text="${car.manufacturer}"></span>
    <span th:text="${car.model}"></span>
    <span th:text="${car.year}"></span>
    <span th:text="${car.msrp}"></span>
    <span th:text="${car.category.name}"></span>
    <a th:href="@{/update/{id}(id=${car.id})}">Update</a>
    <a th:href="@{/detail/{id}(id=${car.id})}">Detail</a>
    <a th:href="@{/delete/{id}(id=${car.id})}">Delete</a>
</p>

</body>
</html>