<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category Form</title>
</head>
<body>

<a href="/addCategory"> Add Category</a> -
<a href="/categorylist">List Categories</a> -
<a href="/addCar">Add Car</a> -
<a href="/carlist">List Cars</a>

<h2>Add New Category</h2>

    <form action="#"
          th:action="@{/addCategory}"
          th:object="${category}"
          method="post">

        <input type="hidden" th:field="*{id}"/>

        Category Name: <input type="text" name="name" th:field="*{name}"/><br/><br/>

        <input type="submit" value="Submit"/>

    </form>

</body>
</html>